body{
  background: url("https://c.wallhere.com/photos/c8/2e/simple_simple_background_dice-3174.jpg!d") no-repeat scroll 0 0;
}
.square {
  display : square;
  width: 25%;
  height: 100px;
  background-color: blue;
  
}