.App {
  text-align: left;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}


.App-header {
  background-color:darkorange;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color:black;
}

